@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {padding:2em}

#container {}

header {}

#main {}

.boxy {
	float:left;
	margin-right:1em;
	height:80px;
	width:80px;
	border:1px solid rgba(0, 0, 0, 1);
}
.blue {
	background:blue;
}
.red {
	background:red;
}
.green {
	background:green;
}
.orange {
	background:orange;
}





footer {}
